<h1 class="mb-4">Questions</h1>

<% @test.questions.each do |question| %>
  <article class="card">
    <div class="card-body">
      <h6><%= question.body %></h6>
      <%= link_to 'Delete question', question_path(question), data: {method: :delete},
                  class: 'btn btn-danger' %>
    </div>
  </article>
<% end %>
