<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<div <% if @test_passage.successful? %> class="alert alert-success" <% else %> class="alert alert-danger" <% end %>>
  <%= @test_passage.result_message  %>
</div>

