<section class="">
  <!-- Footer -->
  <footer class="text-center text-white bg-dark">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Смольский Виталий - автор проекта. Студент онлайн школы <%= link_to_courses %>.
            Мой профиль <%= github_url( 'iakkivr', 'testguru' ) %></span>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      &copy; @iakkivr <%= current_year %>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>