<article class="card">
  <div class="card-body">
    <h4><%= answer.body %></h4>
    <h4><%= answer.correct %></h4>
    <%= link_to t('helpers.link.edit'), edit_admin_answer_path(answer), class: 'btn btn-secondary' %>
    <%= link_to t('helpers.link.delete'), admin_answer_path(answer),
                method: :delete,
                data: { confirm: 'Are you sure?'},
                class: 'btn btn-danger' %>
  </div>
</article>
