<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to pass_button(current_user, test), start_test_path(test), class: 'btn btn-outline-success btn-md' %></td>
</tr>



