  <article class="card">
    <div class="card-body">
      <h4><%= test.title %></h4>
      <%= link_to 'Show test', test_path(test), class: 'btn btn-primary' %>
      <%= pluralize(test.questions.count, 'question', plural: 'questions') %>
      </div>
  </article>