<h1 class="mb-4 p-3">Tests</h1>

<% @tests.each do |test| %>
  <article class="card">
    <div class="card-body">
      <h4><%= test.title %></h4>
       <%= link_to 'Show question', test_questions_path(test), class: 'btn btn-primary' %>
    </div>
  </article>
<% end %>