<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mail_box {
          border: 2px solid #3c85e0;
          padding: 10px;
          border-radius: 5px;
          width: 70%;
          margin: 0 auto;
          margin-top: 25px;
      }
    </style>
  </head>

  <body>
  <div class="mail_box">
    <%= yield %>
  </div>
  </body>
</html>
